#ScholarEnhancerRoot{
    position: fixed;
    top: 0;
    left: 25%;
    height: 2em;
    width: 50%;
    background-color: aliceblue;
    opacity: 0.75;
}

#ScholarEnhancerRoot:hover{
    opacity: 1;
}

#ScholarEnhancerRoot span{
    padding: 0 1em;
}